.button {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: $main_color_2;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: $main_color_1;
    cursor: pointer;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .button {
        margin-top: 6px;
        width: 140px;
        height: 25px;
        &_main {
            margin-top: 60px;
            width: 280px;
            height: 45px;
            font-size: 15px;
        }
        &_submit {
            width: 100%;
            height: 55px;
            font-size: 16px;
        }
    }
}

@media (max-width: 767px) {
    .button {
        &_main {
            width: 260px;
            height: 45px;
        }
    }
}

@media (max-width: 575px) {
    .button {
        &_main {
            margin-top: 50px;
            width: 230px;
            height: 35px;
        }
        &_submit{
            &_mobile {
                height: 45px;
            }
        }
    }
}