.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/bg_1.jpg') center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        margin: 0px;
        font-size: 42px;
        font-weight: bold;
        line-height: 42px;
        text-transform: uppercase;
        color: $main_color_2;
    }
    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        color: $main_color_2;
    }
    &__icons {
        margin-top: 66px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        color: $main_color_2;
        &_top_2 {
            margin-top: 3px;
        }
        &_top_3 {
            margin-top: 6px;
        }
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        color: $main_color_2;
        a {
            color: $main_color_2;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        min-height: 580px;
        padding: 15px 10px 60px 10px;
        &__wrapper {
            margin-top: 75px;
        }
        &__header {
            font-size: 38px;
            line-height: 38px;
        }
        &__subheader {
            margin-top: 12px;
            font-size: 23px;
        }
        &__icons {
            margin-top: 60px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__header {
            font-size: 35px;
            line-height: 35px;
        }
        &__subheader {
            font-size: 22px;
            margin-top: 10px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        padding: 15px 5px 60px 5px;
        &__wrapper {
            margin-top: 55px;
        }
        &__header {
            font-size: 24px;
            line-height: 24px;
        }
        &__subheader {
            font-size: 14px;
            margin-top: 5px;
        }
        &__icons {
            width: 310px;
            align-items: center;
        }
        &__icon {
            font-size: 12px;
            img {
                width: 30%;
            }
        }
        &__link {
            margin-top: 10px;
            font-size: 15px;
        }
    }
}