* {
  font-family: 'Museo Sans Cyrl', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../img/bg_1.jpg") center center/cover no-repeat;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}

.promo__header {
  margin: 0px;
  font-size: 42px;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
  color: white;
}

.promo__subheader {
  margin-top: 17px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
}

.promo__icons {
  margin-top: 66px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__icon {
  width: 108px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color: white;
}

.promo__icon_top_2 {
  margin-top: 3px;
}

.promo__icon_top_3 {
  margin-top: 6px;
}

.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.promo__link {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.promo__link a {
  color: white;
}

@media (max-width: 991px) {
  .promo {
    min-height: 580px;
    padding: 15px 10px 60px 10px;
  }
  .promo__wrapper {
    margin-top: 75px;
  }
  .promo__header {
    font-size: 38px;
    line-height: 38px;
  }
  .promo__subheader {
    margin-top: 12px;
    font-size: 23px;
  }
  .promo__icons {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .promo__header {
    font-size: 35px;
    line-height: 35px;
  }
  .promo__subheader {
    font-size: 22px;
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .promo {
    padding: 15px 5px 60px 5px;
  }
  .promo__wrapper {
    margin-top: 55px;
  }
  .promo__header {
    font-size: 24px;
    line-height: 24px;
  }
  .promo__subheader {
    font-size: 14px;
    margin-top: 5px;
  }
  .promo__icons {
    width: 310px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__icon {
    font-size: 12px;
  }
  .promo__icon img {
    width: 30%;
  }
  .promo__link {
    margin-top: 10px;
    font-size: 15px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 250px;
}

.header__logo img {
  width: 100%;
}

.header__official {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: white;
}

.header__official span {
  margin-top: 12px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

.header__phone {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 991px) {
  .header__logo {
    width: 200px;
  }
  .header__official span {
    margin-top: 6px;
  }
  .header__phone {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    width: 225px;
  }
  .header__official {
    margin-top: 25px;
  }
  .header__contacts {
    margin-top: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__phone {
    font-size: 18px;
    line-height: 18px;
  }
}

.button {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #c70101;
  cursor: pointer;
}

.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}

.button_submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}

@media (max-width: 991px) {
  .button {
    margin-top: 6px;
    width: 140px;
    height: 25px;
  }
  .button_main {
    margin-top: 60px;
    width: 280px;
    height: 45px;
    font-size: 15px;
  }
  .button_submit {
    width: 100%;
    height: 55px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .button_main {
    width: 260px;
    height: 45px;
  }
}

@media (max-width: 575px) {
  .button_main {
    margin-top: 50px;
    width: 230px;
    height: 35px;
  }
}

.title {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #0d0d0d;
}

.title_consultation {
  font-size: 36px;
  line-height: normal;
  text-align: left;
  color: white;
}

@media (max-width: 991px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .title_consultation {
    font-size: 25px;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 24px;
  }
  .title_consultation {
    font-size: 18px;
  }
}

.advantages {
  min-height: 470px;
  padding: 70px 0 78px 0;
  background-color: #f6f6f6;
}

.advantages__wrapper {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__block img {
  display: block;
}

.advantages__block_width_1 {
  width: 239px;
}

.advantages__block_width_2 {
  width: 243px;
  margin-top: -15px;
}

.advantages__block_width_3 {
  width: 242px;
  margin-top: -15px;
}

.advantages__subtitle {
  margin-top: 38px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
}

.advantages__text {
  margin-top: 26px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #0d0d0d;
}

.advantages__text span {
  color: #c70101;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .advantages {
    padding: 60px 5px 68px 5px;
  }
  .advantages__block {
    width: 220px;
  }
  .advantages__block_width_2 {
    margin-top: 0;
  }
  .advantages__block_width_3 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 60px 5px 28px 5px;
  }
  .advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__block {
    margin-bottom: 40px;
  }
  .advantages__block_width_1 {
    width: 239px;
  }
  .advantages__block_width_2 {
    width: 243px;
  }
  .advantages__block_width_3 {
    width: 242px;
  }
}

@media (max-width: 575px) {
  .advantages {
    padding: 45px 5px 0px 5px;
  }
  .advantages__wrapper {
    margin-top: 50px;
  }
  .advantages__block img {
    width: 24%;
  }
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../img/bg_2.jpg") center center/cover no-repeat;
}

.consultation__descr {
  margin-top: 72px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: white;
}

@media (max-width: 991px) {
  .consultation {
    min-height: 620px;
    padding: 70px 5px 50px 5px;
  }
  .consultation__descr {
    margin-top: 60px;
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .consultation {
    min-height: 600px;
  }
  .consultation__descr {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .consultation {
    min-height: 580px;
    padding: 50px 5px 30px 5px;
  }
  .consultation__descr {
    font-size: 15px;
    margin-top: 50px;
  }
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.feed-form input {
  margin-bottom: 15px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: white;
  padding: 0 20px 0 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;
}

.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */